<li>
  <div class="gravatar">
    <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  </div>
  <div class="micropost<%= current_user?(feed_item.user) ? " current_user" : "" %>">
	<% if current_user?(feed_item.user) %>
		<div class="supprimer">
		<%= link_to "supprimer", feed_item, :method => :delete,
		 :confirm => "Etes-vous certain ?",
		 :title => feed_item.content %>
		</div>
	<% end %>
	<span class="user">
	  <%= link_to feed_item.user.nom, feed_item.user %>
	</span>
	<span class="content"><%= wrap(feed_item.content) %></span>
	<span class="timestamp">
	  Posté il y a <%= time_ago_in_words(feed_item.created_at) %>.
	</span>
  </div>
</li>